<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="ISO-8859-1">
<title>Servicios</title>
</head>
<body>
	<div>
		<div>
			<div class="title">
				<h1>Servicios para Mascotas</h1>
			</div>
			<div class="row">
				<nav class="nav">
					<a class="nav-link" href="#">Home</a> <a class="nav-link" href="#">Adoptciones</a>
					<a class="nav-link" href="#">Veterinarias</a> <a class="nav-link"
						href="#">Voluntariado</a>
					<form class="form-inline">
						<input class="form-control" type="search" placeholder="Search"
							aria-label="Search">
						<button class="btn" type="submit">Search</button>
					</form>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-9">
				<div class="card">
					<div class="row">
						<div class="col-4">
							<img src="../static/img/logo.jpg" class="card-img" alt="logoFI">
						</div>
						<div class="col-8">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting
									text below as a natural lead-in to additional content. This
									content is a little bit longer.</p>
								<p class="card-text">
									<small class="text-muted">Last updated 3 mins ago</small>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-4">
							<img src="../static/img/logo.jpg" class="card-img" alt="logoFI">
						</div>
						<div class="col-8">
							<div class="card-body">
								<h3>Card title</h3>
								<p class="textCard">This is a longer card with supporting
									text below as a natural lead-in to additional content. This
									content is a little bit longer.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-4">
							<img src="../static/img/logo.jpg" class="card-img" alt="logoFI">
						</div>
						<div class="col-8">
							<div class="card-body">
								<h3 class="card-title">Card title</h3>
								<p class="textCard">This card has supporting text below as a
									natural lead-in to additional content.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-4">
							<img src="../static/img/logo.jpg" class="card-img" alt="logoFI">
						</div>
						<div class="col-8">
							<div class="card-body">
								<h3 class="card-title">Card title</h3>
								<p class="textCard">This is a wider card with supporting
									text below as a natural lead-in to additional content. This
									card has even longer content than the first to show that equal
									height action.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="publicidad col-3">
				<div> Titulo de Publicidad</div>
				<div>Anuncios</div>
			</div>
		</div>

		<div>Contacto</div>
	</div>
</body>
</html>